.newsRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-head{
    text-align: center;
}
.search-box{
    display: block;
    margin: 20px auto;
    width: 300px;
    font-size: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding:5px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 1px 1px 1px rgb(161, 161, 161);
    border-radius: 5px;
}